<div class="container">
	<div class="email">
		<div class="email__header">
			<h2>Скидка <span>200 ₽</span> при подписке на рассылку Издательства</h2>
		</div>
		<input type="email" class="email__input" placeholder="Введите ваш Email">
		<button class="email__btn">Подписаться</button>
	</div>
</div>