<div class="container">
	<div class="receipts">
		<div class="receipts__heading">
			<h2>Новые поступления</h2>
			<div class="receipts__arrow">
				<div class="receipts__arrow-left">
					{% include "assets/svg/arrow-receipts.svg"%}
				</div>
				<div class="receipts__arrow-right">
					{% include "assets/svg/arrow-receipts.svg"%}
				</div>
			</div>
		</div>
		<div class="receipts__books">
			<div class="receipts__book-container">
				<div class="receipts__book">
					<div class="receipts__book-status">
						<p>Бестселлер</p>
					</div>
					<div class="receipts__book-stock">
						<p>1+1=3</p>
					</div>
					<div class="receipts__book-img"><img src="img/book-1.png" alt=""></div>
					<div class="receipts__info-book">
						<p>Корпоративное право</p>
						<p>Инвестирование: способы, риски, субъекты : монограф...</p>
						<p>Майфат А.В.</p>
						<p>4 450 ₽ </p>
					</div>
					<div class="receipts__rating">
						<div class="receipts__star">
							{% include "assets/svg/star.svg" %}
							<p>4.9</p>
						</div>
						<div class="receipts__recommendation">
							{% include "assets/svg/like.svg" %}
							<p>89% рекомендуют</p>
						</div>
					</div>
					<div class="receipts__price-book">
						<div class="receipts__in-garbage">
							{% include "assets/svg/basket-orange.svg" %}
							<p>В корзину</p>
						</div>
						<div class="receipts__bookmark">
							{% include "assets/svg/shortcut-icon.svg" %}
						</div>
					</div>
				</div>
			</div>

			<div class="receipts__book-container">
				<div class="receipts__book">
					<div class="receipts__book-news">
						<p>Новинка</p>
					</div>
					<div class="receipts__book-img"><img src="img/book-2.png" alt=""></div>
					<div class="receipts__info-book">
						<p>Договорное право</p>
						<p>Договор коммерческой концесси...</p>
						<p>Багдасарян А.Ф.</p>
						<p>372 ₽ </p>
					</div>
					<div class="receipts__rating">
						<div class="receipts__star">
							{% include "assets/svg/star.svg" %}
							<p>4.9</p>
						</div>
						<div class="receipts__recommendation">
							{% include "assets/svg/like.svg" %}
							<p>89% рекомендуют</p>
						</div>
					</div>
					<div class="receipts__price-book">
						<div class="receipts__in-garbage">
							{% include "assets/svg/basket-orange.svg" %}
							<p>В корзину</p>
						</div>
						<div class="receipts__bookmark">
							{% include "assets/svg/shortcut-icon.svg" %}
						</div>
					</div>
				</div>
			</div>

			<div class="receipts__book-container">
				<div class="receipts__book">
					<div class="receipts__book-img"><img src="img/book-3.png" alt=""></div>
					<div class="receipts__info-book">
						<p>Конкурентное право</p>
						<p>Договор коммерческой концесси...</p>
						<p>Башлаков-Николаев И.В.</p>
						<div class="receipts__sale">
							<p>984 ₽ </p>
							<p>1 284 ₽</p>
							<p>Выгода 300 ₽</p>
						</div>
					</div>
					<div class="receipts__rating">
						<div class="receipts__star">
							{% include "assets/svg/star.svg" %}
							<p>4.9</p>
						</div>
						<div class="receipts__recommendation">
							{% include "assets/svg/like.svg" %}
							<p>89% рекомендуют</p>
						</div>
					</div>
					<div class="receipts__price-book">
						<div class="receipts__in-garbage">
							{% include "assets/svg/basket-orange.svg" %}
							<p>В корзину</p>
						</div>
						<div class="receipts__bookmark">
							{% include "assets/svg/shortcut-icon.svg" %}
						</div>
					</div>
				</div>
			</div>

			<div class="receipts__book-container">
				<div class="receipts__book">
					<div class="receipts__book-status">
						<p>Бестселлер</p>
					</div>
					<div class="receipts__book-stock">
						<p>1+1=3</p>
					</div>
					<div class="receipts__book-img"><img src="img/book-1.png" alt=""></div>
					<div class="receipts__info-book">
						<p>Корпоративное право</p>
						<p>Инвестирование: способы, риски, субъекты : монограф...</p>
						<p>Майфат А.В.</p>
						<p>4 450 ₽ </p>
					</div>
					<div class="receipts__rating">
						<div class="receipts__star">
							{% include "assets/svg/star.svg" %}
							<p>4.9</p>
						</div>
						<div class="receipts__recommendation">
							{% include "assets/svg/like.svg" %}
							<p>89% рекомендуют</p>
						</div>
					</div>
					<div class="receipts__price-book">
						<div class="receipts__in-garbage">
							{% include "assets/svg/basket-orange.svg" %}
							<p>В корзину</p>
						</div>
						<div class="receipts__bookmark">
							{% include "assets/svg/shortcut-icon.svg" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="receipts__more-books">
			<p>Показать все книги раздела</p>
		</div>
	</div>
</div>