.slider{
	background-color: #F9F9FA;
	margin-bottom: 10px;
}

.slider__slider
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto;
	margin-bottom: 10px;
	width: 355px;
	height: 175px;
	border-radius: 5px;

	img
	{
		width: 100%;
		height: 100%;
	}
}

	.slider__arrow-left,
	.slider__arrow-rigth{display: none;}

.slider__tots
{
	display: flex;
	justify-content: space-between;
	wrap: no-wrap;
	position: absolute;
	top: 163px;
	right: 0;
	left: 0;
	margin: auto;
	width: 115px;
	height: 2px;

	&--active{background-color: #fff;}
}

.slider__tots-line
{
	width: 25px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 2px;

	&:last-child{margin-right: 5px;}
}

.slider__books-day
{
	padding: 20px 0;
	box-sizing: border-box;
	margin-bottom: 10px;
	background: #FFFFFF;
	border-radius: 5px;

}

.slider__header-books-day
{
	display:flex;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 20px;
	width: 315px;

	h3
	{
		margin: 0;
		font-family: Roboto;
		font-weight: 500;
		font-size: 16px;
	}
}

.slider__time
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 68px;
	height: 25px;
	background: rgba(255, 122, 0, 0.15);
	border-radius: 5px;

	p
	{
		margin: 0;
		font-family: Roboto;
		font-weight: 500;
		font-size: 12px;
		color: #FF7A00;
	}
}

.slider__img-books-day
{
	margin: auto;
	margin-bottom: 14px;
	width: 133px;
	height: 200px;

	img
	{
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
}

.slider__info-books-day
{
	margin: auto;
	margin-bottom: 7px;
	width: 315px;
	font-family: Roboto;

	p:first-child
	{
		margin: 0;
		margin-bottom: 5px;
		font-style: normal;
		font-size: 12px;
		color: rgba(28, 41, 77, 0.5);

	}
	p:nth-child(2)
	{
		margin: 0;
		margin-bottom: 8px;
		font-weight: 500;
		font-size: 14px;
		color: #1C294D;
		line-height: 19px;
	}

	p:nth-child(3)
	{
		margin: 0;
		margin-bottom: 4px;
		font-weight: normal;
		font-size: 12px;
		color:	#1C294D;
	}

	p:last-child
	{
		margin: 0;
		font-weight: bold;
		font-size: 18px;
		color: #1C294D;
	}
}

.slider__price-books-day
{
	display: flex;
	width: 315px;
	margin: 0 auto;
	justify-content: space-between;
}

.slider__in-garbage
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 265px;
	height: 40px;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 5px;

	svg{margin-right: 12px;}

	p
	{
		margin: 0;
		font-family: Roboto;
		font-weight: 500;
		font-size: 14px;
	}
}

.slider__bookmark
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 5px;
}

.slider__delivery,
.slider__banner-sale
{
	width: 355px;
	height: 140px;
	margin: auto;
	svg
	{
		width: 100%;
		height: 100%;
	}
}

.slider__delivery{margin-bottom: 10px;}



@media (min-width: 768px) {
	.slider__banners{display: none;}

	.slider__header-books-day,
	.slider__info-books-day,
	.slider__price-books-day,
	.slider__in-garbage{width: 200px;}

	.slider
	{
		display: grid;
		grid-template-areas: "slider books"
							 "banners books";
		grid-template-columns: 500px 230px;
		grid-template-rows: 280px 140px;
		gap: 10px;
		justify-content: center;
	}

	.slider__slider
	{
		margin: 0;
		max-width: 750px;
		max-height: 350px;
		width: auto;
		height: auto;
		grid-area: slider;
	}

	.slider__tots{top: 260px;}

	.slider__advertising
	{
		display: flex;
		justify-content: space-between;
		max-height: 140px;
		max-width: 750px;
		grid-area: banners;	}

	.slider__delivery,
	.slider__banner-sale
	{
		margin: 0;
		width: 240px;
		height: 100%;
		svg
		{
			width: 100%;
			height: 100%;
		}
	}

	.slider__books-day
	{
		grid-area: books;
		padding: 0;
	}

	.slider__img-books-day
	{
		width: 115px;
		height: 165px;
	}
}

@media (min-width: 1366px)
{
	.slider
	{
		display: grid;
		grid-template-areas: "slider books"
							 "banners books";
		grid-template-columns: 750px 360px;
		grid-template-rows: 350px 140px;
		gap: 30px;
		padding: 0 6px;
		margin-bottom: 30px;
	}

	.slider__tots{top: 328px;}

	.slider__arrow-left,
	.slider__arrow-rigth
	{
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 155px;
		width: 40px;
		height: 40px;
		background-color: #F7FFEE;
		border-radius: 5px;
	}

	.slider__arrow-left{left: 27px;}
	.slider__arrow-rigth{right: 28px;}

	.slider__books-day
	{
		width: 360px;
		height: 520px;
		padding: 20px 20px 26px;
	}

	.slider__header-books-day
	{
		width: 320px;
	}

	.slider__img-books-day
	{
		width: 167px;
		height: 250px;
		margin-right: 77px;
		margin-left: 76px;
		img{border-radius: 0;}
	}

	.slider__info-books-day
	{
		margin: 0;
		margin-bottom: 8px;
		width: auto;

		p:nth-child(3){margin-bottom: 3px;}
	}

	.slider__price-books-day
	{
		margin: 0;
		width: 196px;
	}

	.slider__in-garbage
	{
		width: 146px;
		margin-right: 10px;
		svg{margin-right: 11px;}
	}

	.slider__delivery,
	.slider__banner-sale
	{
		margin: 0;
		width: 360px;
		height: 100%;
	}
}