<div class="container">
	<div class="news">
		<div class="news__heading">
			<h2>Новости</h2>
			<div class="news__arrow">
				<div class="news__arrow-left">
					{% include "assets/svg/arrow-receipts.svg"%}
				</div>
				<div class="news__arrow-right">
					{% include "assets/svg/arrow-receipts.svg"%}
				</div>
			</div>
		</div>

		<div class="news__news-container">
			<div class="news__news-bust">
				<div class="news__news-block-bust">
					<div class="news__img-bust">
						<a href="#"><img src="img/news-1.png" alt=""></a>
					</div>
					<p>16 июня 2020</p>
					<a href="#">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</a>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<button class="news__btn">Читать</button>
				</div>
			</div>
			<div class="news__news-building">
				<div class="news__news-block-building">
					<div class="news__img-building">
						<a href="#"><img src="img/news-2.png" alt=""></a>
					</div>
					<p>16 июня 2020</p>
					<a href="#">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</a>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<button class="news__btn">Читать</button>
				</div>
			</div>
			<div class="news__news-libra">
				<div class="news__news-block-libra">
					<div class="news__img-libra"><a href="#"><img src="img/news-3.png" alt=""></a>
				</div>
					<p>16 июня 2020</p>
					<a href="#">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</a>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<button class="news__btn">Читать</button>
				</div>
			</div>
		</div>

		<div class="news__more-news">
			<a>Показать все новости</a>
		</div>
	</div>
</div>