{# index.twig #}

{% block footer %}
	<footer>
		<div class="footer__link-conteiner">
			<div class="footer__social-network">
				<div class="footer__links">
					<div class="footer__img-links">
						{% include "assets/svg/facebook.svg" %}
					</div>
					<div class="footer__img-links">
						{% include "assets/svg/vk.svg" %}
					</div>
					<div class="footer__img-links">
						{% include "assets/svg/instagram.svg" %}
					</div>
				</div>
				<div class="footer__mailings">
					<div class="footer__logo">{% include "assets/svg/logo.svg" %}</div>
					<div class="footer__email">
						<input type="email" class="footer__input" placeholder="Подписаться на рассылку">
						<button class="footer__btn">
							{% include "assets/svg/plane.svg" %}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="footer__select">
				<ul class="footer__select-info">
					<li class="footer__info">
						<a>
							<span>Покупателям</span>
							{% include "assets/svg/arrow-bottom.svg" %}
						</a>

						<ul>
							<li><a>Наша почта</a></li>
							<li><a>Оплата и доставка</a></li>
							<li><a>Вопросы и ответы</a></li>
						</ul>
					</li>
					<li class="footer__info">
						<a>
							<span>Издательство</span>
							{% include "assets/svg/arrow-bottom.svg" %}
						</a>
						<ul>
							<li><a>О компании</a></li>
							<li><a>Авторам</a></li>
							<li><a>Вакансии</a></li>
							<li><a>Контакты</a></li>
						</ul>
					</li>
					<li class="footer__info">
						<a>
							<span>Книги</span>
							{% include "assets/svg/arrow-bottom.svg" %}
						</a>
						<ul>
							<li><a>Все категории</a></li>
							<li><a>Бестселлеры</a></li>
							<li><a>Новинки</a></li>
							<li><a>Скидки и акции</a></li>
						</ul>
					</li>
					<li class="footer__info">
						<a>
							<span>Прайс-лист</span>
							{% include "assets/svg/arrow-bottom.svg" %}
						</a>
						<ul>
							<li class="footer__price-list">
								<a>{% include "assets/svg/list.svg" %}</a>
								<div>
									<a href="#">Скачать прайс-лист</a>
									<a href="#">PDF, 12 Mb </a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="footer__grey-text">
					<li><a>Политика конфиденциальности</a></li>
					<li><a>Договор оферты</a></li>
				</ul>
				</ul>
				<ul class="footer__select-contact">
					<li>Телефон и Email</li>
					<li class="footer__telephone">
						<a href="">
							{% include "assets/svg/devices-icon.svg" %}
							<span>8 (968) 660-65-50</span>
							{% include "assets/svg/interface-icon.svg"%}
						</a>
					</li>
					<li class="footer__letter">
						<a href="">
							{% include "assets/svg/mail-icon.svg" %}
							<span>market@estatut.ru</span>
						</a>
					</li>
					<li class="footer__location">
						<a href="">
							{% include "assets/svg/location-icon.svg"%}
							<span>ул. Лобачевского, 92, корп. 2 119454, г. Москва</span>
						</a>
					</li>
					<li>© 2020 Издательство «Статут»</li>
				</ul>
			</div>
			<div class="line"></div>
			<div class="footer__footer-text">
				<p>© 2020 Издательство «Статут»</p>
				<p>ул. Лобачевского, 92, корп. 2 119454, г. Москва</p>
				<a href="">Политика конфиденциальности</a>
				<a href="">Договор оферты</a>
			</div>
		</div>
	</footer>
{% endblock %}