<div class="container">
	<div class="arrivals">
		<div class="arrivals__heading">
			<h2>Новые поступления</h2>
			<div class="arrivals__arrow">
				<div class="arrivals__arrow-left">{% include "assets/svg/arrow-book-left.svg" %}</div>
				<div class="arrivals__arrow-right">{% include "assets/svg/arrow-book-rigth.svg" %}</div>
			</div>
		</div>
	</div>
</div>