<div class="container">
	<div class="our_capabilities">
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__wotch-img"><img src="img/wotch.png" alt=""></div>
			<div class="our_capabilities__text">
				<p>Быстрая доставка</p>
				<p>Доставим бесплатно от 2000 ₽ по всей России</p>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__star-img"><img src="img/star.png" alt=""></div>
			<div class="our_capabilities__text">
				<p>Бонусная программа</p>
				<p>Дополнительная скидка 15% при регистрации</p>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__bag-img"><img src="img/bag.png" alt=""></div>
			<div class="our_capabilities__text">
				<p>Большой выбор</p>
				<p>Ежегодно выходит в свет более 100 книг</p>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__cards-img"><img src="img/cards.png" alt=""></div>
			<div class="our_capabilities__text">
				<p>Безопасная оплата</p>
				<p>Плати безопасно и легко онлайн на нашем сайте</p>
			</div>
		</section>
	</div>
</div>