<div class="container">
	<div class="our_capabilities">
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__wotch-img">
				<a href="#"><img src="img/wotch.png" alt=""></a>
			</div>
			<div class="our_capabilities__text">
				<a href="#">Быстрая доставка</a>
				<a href="#">Доставим бесплатно <br>от 2000 ₽ по всей России</a>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__star-img">
				<a href="#"><img src="img/star.png" alt=""></a>
			</div>
			<div class="our_capabilities__text">
				<a href="#">Бонусная программа</a>
				<a href="#">Дополнительная скидка 15% при регистрации</a>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__bag-img">
				<a href="#"><img src="img/bag.png" alt=""></a>
			</div>
			<div class="our_capabilities__text">
				<a href="#">Большой выбор</a>
				<a href="#">Ежегодно выходит в свет более 100 книг</a>
			</div>
		</section>
		<section class="our_capabilities__bloks">
			<div class="our_capabilities__cards-img">
				<a href="#"><img src="img/cards.png" alt=""></a>
			</div>
			<div class="our_capabilities__text">
				<a href="#">Безопасная оплата</a>
				<a href="#">Плати безопасно и легко онлайн на нашем сайте</a>
			</div>
		</section>
	</div>
</div>